body { 
	background: pink; 
	font-family: Helvetica, "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
	height: 741px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-width: 800px;
width: 1440px;

}

img {

	width: 300px;

	-webkit-transition: width 3s;
}

img:hover {
	width: 700px;
}

